header {
  /*  background-image: url("../assets/images/bg-header-mobile.svg"); */
    
    background-color: rgb(91, 164, 164);
    background-size: contain;  
    background-repeat: no-repeat; 
}
.header__img {
    width: 100%;  
    height: 158px;    
}

.mainSection {
    background-color:  hsl(180, 52%, 96%) ;  
}
.cards {
    padding: 45px 0 45px 0;
}
.cards:first-child {
    padding: 80px 0 0 0;
}
.card:last-child {
    padding: 45px 0;
}
.card {
    width: 330px;
    margin: auto;
    padding: 10px 0;
    background-color: white;
    border-left: 5px solid green;
    border-radius: 7px;
}
.card__primary {
    position: relative;
    width: 90%;
    margin: auto;
    border-bottom: 1px solid black;
}

img.card__img {
    position: relative;
    top: -73px;
    left: 20px;
    width: 16%;
}
.card__features {
    display: flex;
    justify-content: flex-start;
   margin-top: -45px;
}
.card__features__item {
    margin-left: 15px;
    margin-bottom: 15px;   
}
.company {
    color: hsl(180, 29%, 50%);
}
.newFeatures {
    background-color:  hsl(180, 29%, 50%);
    padding: 3px 7px;
    border-radius: 20px;
    color: white;
}
.featured {
    padding: 3px 7px;
    background-color: black;
    color: white;
    border-radius: 20px;
}
.card__primary__position {
    margin-left: 29px;
    margin-bottom: 15px;
}
.card__contract {
    display: flex;
   /* margin-left: 20px;*/
    margin-bottom: 20px;
}
.card__contract__item {
    margin-left: 24px;
    margin-top: 20px;
}
.card__contract__item:first-child {
    list-style: none;
}
.card__secondary {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.role {
    flex-grow: 1;
}
.level {
    flex-grow: 1;
}
.languages {
    flex-grow: 3;
}

@media screen and(min-width: 790px) {
             
       
}